POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=polylrc
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/polylrc
REDIS_URL=redis://redis:6379/0

ACCESS_TOKEN_EXPIRE_MINUTES=10
REFRESH_TOKEN_EXPIRE_DAYS=20
SECRET_KEY=your_256_bit_key_here
JWT_ALGORITHM=HS256

FAUCET_AMOUNT=100
FAUCET_COOLDOWN=10